body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
}

#title {
    text-align: center;
    font-size: 1.2em;
    width: 100vw;
}

.gameIntro {
    text-align: center;
    display: flex;
    font-size: 1.2em;
    width: 100vw;
    align-items: center;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}



#sidebar {
    background-color: lightcoral;
    width: 20vw;
    height: 100vh;
}

#player1Stats {
    font-size: 1.3em;
}

#player2Stats {
    font-size: 1.3em;
}

#gameStats {
    font-size: 1.3em;
}

#gameBoard {
    font-size: 1.3em;
    background-color: lightsteelblue;
    width: 83vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#cardPile {
    width: 30vw;
    height: 25vh;
    background-color: rgb(237, 194, 138);
    display: flex;
    align-items: center;
    justify-content: center;
}

#player1Hand {
    width: 55vw;
    height: 25vh;
    background-color: lightslategray;
    margin-top: 5%;
}

#player2Hand {
    width: 55vw;
    height: 25vh;
    background-color: lightslategray;
}

.drawCardButton {
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 1.3em;
    height: 10vh;
    width: 100vw;
    background-color: lightseagreen;
    text-align: center;
}