body {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
    height: 20%;
}

#title {
    text-align: center;
    font-size: 1.2em;
    width: 95.5vw;
    background-color: lightseagreen;
}

.gameIntro {
    text-align: center;
    font-size: 1.1em;
    width: 95.5vw;
    align-items: center;
    background-color: lightseagreen;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#sidebar {
    background-color: lightcoral;
    width: 13.5vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#player1Stats {
    font-size: 1.1em;
}

#player2Stats {
    font-size: 1.1em;
}

#gameStats {
    font-size: 1.1em;
}

#gameBoard {
    font-size: 1.1em;
    background-color: lightsteelblue;
    width: 82vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#cardPile {
    width: 30vw;
    height: 22vh;
    background-color: rgb(237, 194, 138);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#player1Hand {
    width: 75vw;
    height: 20vh;
    display: flex;
    background-color: lightslategray;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#player2Hand {
    width: 75vw;
    height: 20vh;
    display: flex;
    background-color: lightslategray;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardsPlayer1 {
    width: 7vw;
    height: 16vh;
    background-color: lightgreen;
    margin: auto;
    display: flex;
}

.cardsPlayer2 {
    width: 7vw;
    height: 16vh;
    background-color: lightgreen;
    margin: auto;
    display: flex;
}

.cards {
    width: 7vw;
    height: 16vh;
    background-color: lightcyan;
    margin: auto;
    align-items: left;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.discardPileCard {

}

.deckCards {

}

#gamePrompts {
    font-size: 1.1em;
    height: 8vh;
    width: 95.5vw;
    background-color: lightseagreen;
    text-align: center;
}

.colors {

}